.hero{
    height: fit-content;
    background-image: url("../assets/images/homePageBackground.png");
    background-size: cover;
    background-position: center;
    margin-top: 79px;
}
.overlay{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.407);
    color: white;
    padding: 0px 10%;
    row-gap: 15px;
}
.overlay h1{
    font-size: 35px;
}
.overlay p{
    border-left: 5px solid white;
    padding:  10px;
    width: 400px;
    color: whitesmoke;
}
.overlay button{
    background-color: var(--red);
    color: white;
    padding: 15px 30px;
    border-radius: 25px;
    border: 0px;
}
.overlay button:hover{
    cursor: pointer;
    transition: 500ms;
    background-color: var(--hover);
}

.history{
    padding: 100px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 30px;
}
.history h2{
    font-size: 30px;
    font-weight: 400;
    color: var(--red);
}
.history h3{
    width: 65%;
    font-weight: 500;
    font-size: 16px;
}
.history p{
    width: 80%;
    font-size: 14px;
    line-height: 23px;
    color: rgb(91, 91, 91);
}
.history button{
    background-color: whitesmoke;
    border: 0px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}
.history button:hover{
    transition: 500ms;
    column-gap: 20px;
}
.history button svg{
    background-color: var(--red);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 6px;
}

.homeServices{
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    align-items: center;
}
.homeServices h1{
    font-size: 35px;
    color: var(--blue);
    font-weight: 700;
    text-align: center;
}
.serviceCard{
    display: flex;
    flex-direction: row;
    padding: 40px 13%;
    justify-content: space-between;
    align-items: center;
}
.ashService{
    padding: 130px 13%;
    margin: 50px 0;
    background-color: var(--ash);
}

.serviceImage{
    width: 45%;
    height: 400px;
    position: relative;
}
.serviceImage .rect{
    background-color: var(--red);
    left: -30px;
    top: -30px;
    width: 300px;
    height: 200px;
    z-index: -1;
    position: absolute;
}
.serviceImage img{
    background-color: gray;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.serviceContent{
    width: 46%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.serviceContent p{
    line-height: 23px;
    font-size: 15px;
    color: rgb(91, 91, 91);
}
.serviceContent img{
    width: 60px;
    height: 60px;
}

.homeServices button{
    background-color: rgba(245, 245, 245, 0);
    border: 0px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}
.homeServices button:hover{
    transition: 500ms;
    column-gap: 20px;
}
.homeServices button svg{
    background-color: var(--red);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 6px;
}
.banner{
    width: 100%;
    height: 250px;
    margin: 120px 0;
}
.banner img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
.blogBannerWrapper{
    height: fit-content;
    width: 100%;
    background-image: url("../assets/images/EngineeringServicesBanner.png");
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 100px 0px;
    align-items: center;
    column-gap: 50px;
    display: flex;
}
.blogBannerOverlay{
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.474);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 50px;
    height: 80vh;
    width: 55%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    clip-path: polygon(0% 0%, 70% 0%, 100% 50%, 70% 100%, 0% 100%);
    
    align-items: flex-start;
}
.leftBlogBanner{
    color: white;
    width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}
.leftBlogBanner h2{
    font-size: 35px;
}
.leftBlogBanner p{
    color: rgb(232, 232, 232);
    font-size: 14px;
    line-height: 23px;
}
.blogrect{
    background-color: var(--red);
    top: -30px;
    left: 0px;
    height: 200px;
    position: absolute;
    z-index: -1;
    width: 350px;
}
.rightBlogBanner{
    display: flex;
    column-gap: 20px;
    justify-content: right;
    width: 45%;
    padding-right: 20px;
}
.blogBannerCard{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    height: fit-content;
}
.blogBannerCard img{
    border-radius: 30px;
    height: 200px;
    background-color: gray;
}
.blogBannerContent{
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
}
.blogBannerContent h3{
    font-size: 18px;
}
.blogBannerContent p{
    font-size: 13px;
}
.lastCard{
    margin-bottom: 100px;
}

@media(max-width: 1300px){
    .overlay{
        padding: 0px 5%;
    }
    .history{
        padding: 100px 5%;
    }
    .homeServices{
        padding: 0px 8%;
    }
    .homeServices h1{
        font-size: 30px;
    }
    .blogBannerWrapper{
        background-position: left;
    }
    .blogBannerOverlay{
        padding: 100px 5%;
    }
}
@media(max-width: 1000px){
    .history h3{
        width: 80%;
    }
    .history p{
        width: 100%;
    }
    .serviceImage{
        height: 300px;
    }
    .serviceImage .rect{
        top: -20px;
        left: -20px;
    }
    .serviceContent img{
        height: 40px;
        width: 40px;
    }
    .homeServices h1{
        font-size: 27px;
    }
    .serviceContent{
        width: 50%;
        margin-top: -80px;
    }
    .serviceContent p{
        font-size: 14px;
    }
    .blogBannerOverlay{
        row-gap: 20px;
    }
}
@media(max-width: 850px){
    .serviceCard{
        flex-direction: column;
        row-gap: 50px;
        padding: 0px;
    }
    .homeServices{
        row-gap: 70px;
        
    }
    .serviceContent{
        margin-top: 0px;
    }
    .banner{
        margin-bottom: 100px;
    }
    .serviceContent ul{
        text-align: left;
    }
    .serviceCard2{
        row-gap: 50px;
        flex-direction: column-reverse;
    }
    .serviceContent{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .homeServices h1{
        margin-bottom: -30px;
    }
    .serviceImage{
        width: 80%;
    }
}
@media(max-width: 750px){
    .history h2{
        font-size: 25px;
    }
    .history{
        padding: 80px 5%;
    }
    .overlay h1{
        font-size: 30px;
    }
    .overlay button{
        padding: 10px 20px;
    }
    .overlay p{
        font-size: 14px;
    }
    .rightBlogBanner{
        flex-direction: column;
        row-gap: 20px;
    }
    .blogBannerCard{
        flex-direction: row;
        width: 100%;
    }
    .blogBannerContent{
        justify-content: center;
        width: 55%;
    }
    .blogBannerCard img{
        width: 40%;
    }
    .leftBlogBanner{
        width: 100%;
    }
    .leftBlogBanner h2{
        font-size: 30px;
    }
    .history h3{
        width: 100%;
    }
}
@media(max-width: 500px){
    .overlay p{
        width: 100%;
    }
    .overlay{
        height: 80vh;
    }
    .homeServices{
        padding: 0px 5%;
    }
    .homeServices h1{
        font-size: 23px;
        margin-bottom: -30px;
    }
    .serviceImage{
        width: 93%;
    }
    .leftBlogBanner h2{
        font-size: 25px;
    }
    .serviceImage .rect{
        width: 200px;
        height: 150px;
        top: -15px;
        left: -15px;
    }
    .blogBannerCard{
        flex-direction: column;
    }
    .blogBannerWrapper{
        background-position: right;
    }
    .blogrect{
        width: 150px;
    }
    .blogBannerCard img{
        width: 100%;
        height: 200px;
    }
    .blogBannerContent{
        width: 100%;
    }
}
@media(max-width: 450px){
    .overlay h1{
        font-size: 25px;
    }
    .overlay button{
        font-size: 13px;
    }
    .overlay{
        height: 80vh;
    }
    .history h2{
        font-size: 20px;
    }
    .serviceImage{
        height: 230px;
    }
    .serviceContent h3{
        font-size: 18px;
    }
    .serviceContent img{
        height: 35px;
        width: 35px;
    }
    .leftBlogBanner p{
        font-size: 13px;
        line-height: 20px;
    }
    .blogBannerContent h3{
        font-size: 16px;
    }
}